.activity {
  margin-left: 8rem;
  width: 100%;
}

.new-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.6rem;
  padding: 0 2em;
  background-color: #fff;
}

.new-activity--description {
  display: flex;
  flex-basis: 80%;
  font-size: 1rem;
  border: 0;
  outline: 0;
}

.new-activity--actions {
  display: flex;
  flex-basis: 20%;
  align-items: center;
  justify-content: flex-end;
}

.new-activity--actions .day-event--hours {
  margin-right: 0.6rem;
}

.new-activity--actions .new-activity--category {
  position: relative;
  margin-right: 0.3rem;
  color: rgba(44, 19, 56, 0.5);
  cursor: pointer;
}
.new-activity--actions
  .new-activity--category
  .day-event---project-client-wrapper
  .tag {
  font-size: 0.8rem;
}

.new-activity--actions .new-activity--category:hover {
  color: rgba(44, 19, 56, 1);
}

.new-activity--actions .new-activity--submit {
  z-index: 2;
  color: #dd6fd1;
  cursor: pointer;
}

.DayPickerInput {
  z-index: 1;
  display: flex;
  margin-right: 0.3rem;
}
.DayPickerInput input {
  padding: 0.1rem 0.3rem;
  width: 4rem;
  font-family: "Roboto", "Oxygen", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}
.DayPickerInput input:hover {
  background-color: rgba(44, 19, 56, 0.1);
}
.DayPickerInput .DayPickerInput-Overlay {
  top: 1.7rem;
  transform: translateX(-66%);
}
.DayPickerInput .DayPickerInput-Overlay .DayPicker {
  font-size: 0.8rem;
}

.day {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;
  box-shadow: 0px 2px 6px -2px #f8f8f9;
  font-size: 0.8rem;
  background-color: #fff;
  color: #2c1338;
}

.day-summary {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
}

.day-summary--date {
  display: flex;
  flex-basis: 80%;
}

.day-summary--details {
  display: flex;
  justify-content: flex-end;
  flex-basis: 20%;
}

.day-summary--details > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 40%;
  white-space: nowrap;
  padding: 0 0.2rem;
}

.day-summary--details .day-summary--actions {
  flex-basis: 20%;
}

.currency,
.time-format {
  margin-left: 0.25rem;
  color: #817187;
}

.day-events {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day-event {
  display: flex;
  padding: 0.5rem;
  position: relative;
}
.day-event:hover {
  background-color: #f8f8f9;
  box-shadow: 0px 1px 3px -1px #f8f8f9;
}

.day-event--description {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}

.day-event--description__editable {
  padding: 0.1rem 0.9rem 0.1rem 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.day-event--description__editable:focus,
.day-event--description__editable:hover {
  background-color: rgba(44, 19, 56, 0.1);
  color: #817187;
  outline: 0;
}

.day-event--details {
  display: flex;
  justify-content: flex-start;
  flex-basis: 30%;
  font-size: 0.8rem;
}

.day-event--details {
  flex-basis: 20%;
}

.day-event--details > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.day-event--details {
  position: relative;
  justify-content: flex-end;
}

.day-event--details > div {
  justify-content: flex-end;
  flex-basis: 40%;
}

.day-event--details .day-event--edit {
  flex-basis: 20%;
  justify-content: center;
  font-size: 0.6rem;
  border-radius: 0.5rem;
  color: transparent;
  cursor: pointer;
}

.day-event--details .day-event--edit:hover {
  background-color: rgba(44, 19, 56, 0.1);
  color: #b32323;
}

.day-event--hours {
  display: flex;
}
.day-event--hours .hour {
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.day-event--hours .hour.editable,
.day-event--hours .hour:hover {
  background-color: rgba(44, 19, 56, 0.1);
}
