.day-event--category {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
}

.day-event---project-client-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  cursor: pointer;
}
.day-event---project-client-wrapper.editable,
.day-event---project-client-wrapper.hover:hover {
  background-color: rgba(44, 19, 56, 0.1);
}

.day-event--project,
.day-event--client {
  position: relative;
}

.day-event--project .tag,
.day-event--client .tag {
  padding: 0.1rem 0.6rem;
  font-size: 0.75rem;
  color: #817187;
}

.day-event--project .tag {
  color: #b32323;
}

.day-event--project .tag:before,
.day-event--client .tag:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #817187;
}

.day-event--client .tag:before {
  background-color: #817187;
}
