.App {
  display: flex;
}

.activity {
  margin-left: 9rem;
  width: 100%;
}

.new-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.6rem;
  padding: 0 2em;
  background-color: #fff;
}

.new-activity--description {
  display: flex;
  flex-basis: 80%;
  font-size: 1rem;
  border: 0;
  outline: 0;
}

.new-activity--actions {
  display: flex;
  flex-basis: 20%;
  align-items: center;
  justify-content: flex-end;
}

.new-activity--actions .new-activity--category {
  margin-right: 1rem;
  color: rgba(44, 19, 56, 0.5);
  cursor: pointer;
}

.new-activity--actions .new-activity--category:hover {
  color: rgba(44, 19, 56, 1);
}

.new-activity--actions .new-activity--submit {
  color: #dd6fd1;
  cursor: pointer;
}

.day {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;
  box-shadow: 0px 2px 6px -2px #f8f8f9;
  font-size: 0.8rem;
  background-color: #fff;
  color: #2c1338;
}

.day-summary {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
}

.day-summary--date {
  display: flex;
  flex-basis: 80%;
}

.day-summary--details {
  display: flex;
  justify-content: flex-end;
  flex-basis: 20%;
}

.day-summary--details > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 40%;
  white-space: nowrap;
  padding: 0 0.2rem;
}

.day-summary--details .day-summary--actions {
  flex-basis: 20%;
}

.currency,
.time-format {
  margin-left: 0.25rem;
  color: #817187;
}

.day-events {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day-event {
  display: flex;
  padding: 0.5rem;
  position: relative;
}
.day-event:hover {
  background-color: #f8f8f9;
  box-shadow: 0px 1px 3px -1px #f8f8f9;
}

.day-event--description {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.day-event--description__editable {
  padding: 0.1rem 0.9rem 0.1rem 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.day-event--description__editable:focus,
.day-event--description__editable:hover {
  background-color: rgba(44, 19, 56, 0.1);
  color: #817187;
  outline: 0;
}

.day-event--category,
.day-event--details {
  display: flex;
  justify-content: flex-start;
  flex-basis: 30%;
  font-size: 0.8rem;
}

.day-event--details {
  flex-basis: 20%;
}

.day-event--category > div,
.day-event--details > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.day-event---project-client-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.day-event---project-client-wrapper.editable,
.day-event---project-client-wrapper:hover {
  background-color: rgba(44, 19, 56, 0.1);
}

.day-event--project,
.day-event--client {
  position: relative;
}

.day-event--project .tag,
.day-event--client .tag {
  padding: 0.1rem 0.6rem;
  font-size: 0.75rem;
  color: #817187;
}

.day-event--project .tag {
  color: #b32323;
}

.day-event--project .tag:before,
.day-event--client .tag:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b32323;
}

.day-event--client .tag:before {
  background-color: #817187;
}

.day-event--details {
  position: relative;
  justify-content: flex-end;
}

.day-event--details > div {
  justify-content: flex-end;
  flex-basis: 40%;
}

.day-event--details .day-event--edit {
  flex-basis: 20%;
  justify-content: center;
  font-size: 0.6rem;
  border-radius: 0.5rem;
  color: transparent;
  cursor: pointer;
}

.day-event--details .day-event--edit:hover {
  background-color: rgba(44, 19, 56, 0.1);
  color: #b32323;
}

.day-event--hours .hour {
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.day-event--hours .hour.editable,
.day-event--hours .hour:hover {
  background-color: rgba(44, 19, 56, 0.1);
}
