.App {
  display: flex;
}

.activity {
  width: 100%;
}

.day {
  /* outline: 1px solid olive; */
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  box-shadow: 0px 2px 6px -2px #f8f8f9;
  font-size: 0.8rem;
  background-color: #fff;
  color: #2c1338;
}

.day-summary {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  font-weight: 500;
}

.day-summary--date {
  display: flex;
  flex-basis: 75%;
}

.day-summary--details {
  display: flex;
  justify-content: flex-end;
  flex-basis: 25%;
}

.day-summary--details > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 33.33%;
  white-space: nowrap;
  padding: 0 0.2rem;
}

.currency,
.time-format {
  margin-left: 0.25rem;
  color: #817187;
}

.day-events {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day-event {
  display: flex;
  padding: 0.5rem;
  position: relative;
}
.day-event:hover {
  background-color: #f8f8f9;
  box-shadow: 0px 1px 3px -1px #f8f8f9;
}

.day-event--description {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.day-event--description__editable {
  padding: 0 2rem 0 0.2rem;
}
.day-event--description__editable:focus {
  color: #817187;
  outline: 0;
}

.day-event--category,
.day-event--details {
  display: flex;
  justify-content: flex-start;
  flex-basis: 25%;
  font-size: 0.8rem;
}

.day-event--category > div,
.day-event--details > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  padding: 0 0.2rem;
}

.day-event--category .day-event--project .tag,
.day-event--category .day-event--client .tag {
  padding: 0.1rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  color: #b32323;
  border: 1px solid #b32323;
}

.day-event--category .day-event--client .tag {
  color: #817187;
  border: 1px solid #817187;
}

.day-event--details {
  position: relative;
  justify-content: flex-end;
}

.day-event--details > div {
  justify-content: flex-end;
  flex-basis: 33.33%;
}

.day-event--hours .hour {
  border: 1px solid transparent;
}
.day-event--hours .hour.editable {
  border-bottom: 1px solid #817187;
}

.range-input {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.day-event--edit {
  cursor: pointer;
}
